@(user: User, module: Module, book: Book)
@import scala.collection.JavaConverters._

@template(user, Some(module)) {
<div id="configure-book">
    <h1>Book</h1>
    <hr/>
    <h2 class="sub-title">@book.getTitle()</h2>

    <div class="edtc-section">
        <h3>Modifier le livre</h3>
        <form method="post" action="@routes.BookController.changeTitle()">
            <label for="bookTitle">Changer le titre</label>
            <input id="bookTitle" type="text" name="title"/>

            <button id="modify-book">Modifier</button>
        </form>
    </div>

    <div class="edtc-section">
        <h3>Volumes du livre</h3>
        <a class="btn add-btn" id="new-volume-btn" href="#new-volume">Ajouter un volume</a>
        <ul class="sub-list">
        @book.getVolumes().map { vol =>
          <li>
              <a href="@routes.VolumeController.show(vol.getId())">
                  <h4>
                @vol.getTitle() (@vol.getChapters().size() @if(vol.getChapters().size() == 1) {
                      chapitre)
                  } else {
                      chapitres)
                  }
                  </h4>
              </a>
          </li>
        }
        </ul>
    </div>

    <div class="hidden">
        <form id="new-volume" method="post" class="modal" action="@routes.VolumeController.newPost()">
            <h2 class="sub-title">Nouveau volume</h2>
            <input type="text" id="chapter-title" name="title" placeholder="Titre" />
            <input class="btn" value="Créer" type="submit" name="submit" />
        </form>
    </div>

</div>
}