@(user: User, paragraphs: Seq[models.Paragraph], volumes: Seq[models.Volume], module: Module)
@template(user, Some(module)) {
<div>
    <h1>Dashboard</h1>
    <hr/>

    <div class="indicators pure-g">
        <div class="pure-u-1-3 edtc-section third">
        @defining(paragraphs.count(p => p.getState.equals(ParagraphState.INITIAL) || p.getState.equals(ParagraphState.REJECTED))) { todoCount =>
            <h1 class="todo-text">
                @todoCount
            </h1>
                @if(todoCount == 1) {
                    paragraphe
                } else {
                    paragraphes
                }
            à rédiger
        }
        </div>

        <div class="pure-u-1-3 edtc-section third center-section">
        @defining(paragraphs.count(_.getState().equals(ParagraphState.PENDING))) { pendingCount =>
            <h1 class="yellow-text">
                @pendingCount
            </h1>
        @if(pendingCount == 1) {
            paragraphe
        } else {
            paragraphes
        }
            en attente de validation
        }
        </div>

        <div class="pure-u-1-3 edtc-section third">
        @defining(paragraphs.count(_.getState().equals(ParagraphState.VALIDATED))) { validatedCount =>
            <h1 class="green-text">
                @validatedCount
            </h1>
            @if(validatedCount == 1) {
                paragraphe validé
            } else {
                paragraphes validés
            }
        }
        </div>
    </div>

    @nav(volumes, Some(paragraphs))

</div>
}