@(volumes: Seq[models.Volume], availableParagraphs: Option[Seq[models.Paragraph]] = None)
<ul class="list-volumes">
    @volumes.map{ v =>
        <li>
            <a href="@routes.VolumeController.show(v.getId)">
            <h2 class="darken">
                @v.getTitle()
                <span class="">(@v.getCompletionPercentage %)</span>
            </h2>
            </a>
            <ul class="list-chapters">
            @v.getChapters().map { chapt =>
                <li>
                    <a href="@routes.ChapterController.show(chapt.getId)">
                    <h3>@chapt.getTitle()
                        <span class="">(@chapt.getCompletionPercentage %)</span>
                    </h3>
                    </a>
                    <ul class="list-paragraphs">
                    @chapt.getParagraphs().map { p =>
                        <li
                            @availableParagraphs.map{ seq =>
                              @if(seq.contains(p)) {
                                  class="available"
                              } else {
                                  class="unavailable"
                              }
                            }
                        >
                            <a href="@routes.Paragraph.show(p.getId)">
                            <h4
                                @if(p.getState.equals(ParagraphState.PENDING)) {
                                    class="yellow-text"
                                }
                                @if(p.getState.equals(ParagraphState.VALIDATED)) {
                                    class="green-text"
                                    }
                            >@p.getTitle()</h4>
                            </a>
                        </li>
                    }
                    </ul>
                </li>
            }
            </ul>
        </li>
    }
</ul>
