@(user: User, module: Option[Module], roles: Seq[Roles])
@import play.Routes

<div id="side-nav">
    <img id="edtc-logo" src="@routes.Assets.at("logo_white.png")" alt="EDTC Logo"/>
    <hr/>
    <h2 class="sidebar-username">
        @user.getFirstName() @user.getLastName()
    </h2>
    <hr/>
    <nav id="main" class="m-scene">
        <ul>
            <li class=" @if(module.exists(_.equals(Module.TASKS))) {selected} ">
                <a href="@routes.Application.dashboard()">
                <span class="big-icon icon-list"> </span>
                <h3>Tâches</h3>
                </a>
            </li>
            <li class=" @if(module.exists(_.equals(Module.NAVIGATION))) {selected} ">
                <a href="@routes.Application.navigation()">
                <span class="big-icon icon-compass2"> </span>
                <h3>Navigation</h3>
                </a>
            </li>
            @if(user.isAdmin) {
            <li class=" @if(module.exists(_.equals(Module.BOOK))) {selected} ">
                <a href="@routes.BookController.configure()">
                <span class="big-icon icon-book"> </span>
                <h3>Livre</h3>
                </a>
            </li>
                <li class=" @if(module.exists(_.equals(Module.USERS))) {selected} ">
                    <a href="@routes.UserController.list()">
                        <span class="big-icon icon-users"> </span>
                        <h3>Utilisateurs</h3>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
