@(user: User, target: models.User)
@template(user) {
    <h1>@target.getFirstName @target.getLastName</h1>
    <hr/>

    <div id="new-user">
        <div class="edtc-section">
            <form method="post" action="@routes.UserController.create()">

                <div class="input-div">
                    <label for="email">Login</label>
                    <input type="text" id="email" name="email" value="@target.getEmail" />
                </div>

                <div class="input-div">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="Mot de passe" />
                </div>

                <div class="input-div">
                    <label for="firstame">Prénom</label>
                    <input type="text" id="firstname" name="firstname" value="@target.getFirstName" />
                </div>

                <div class="input-div">
                    <label for="lastname">Nom de famille</label>
                    <input type="text" id="lastname" name="lastname" value="@target.getLastName" />
                </div>

            </form>
        </div>
    </div>
}
