@(user: User, allUsers: List[models.User])
@template(user, Some(Module.USERS)) {

    <div id="configure-book">
        <h1>Utilisateurs</h1>
        <hr/>

        <div class="edtc-section">
            <a class="btn" id="add-user-btn" href="@routes.UserController.showCreate()">Ajouter un utilisateur</a>
            <ul>
            @for(usr <- allUsers) {
                <li>
                    <a href="@controllers.routes.UserController.show(usr.getId())">
                        <h4>
                        @usr.getFirstName() @usr.getLastName()
                        </h4>
                    </a>
                </li>
            }
            </ul>
        </div>

    </div>
}