@(user: User, module: Module)
@template(user, Some(module)) {
    <h1>Création d'un nouvel utilisateur</h1>
    <hr/>

    <div id="new-user">
        <div class="edtc-section">
        <form method="post" action="@routes.UserController.create()">

            <div class="input-div">
            <label for="email">Login</label>
            <input type="text" id="email" name="email" placeholder="Login" />
            </div>

                <div class="input-div">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Mot de passe" />
                </div>

                    <div class="input-div">
            <label for="firstame">Prénom</label>
            <input type="text" id="firstname" name="firstname" placeholder="Prénom" />
                    </div>

                        <div class="input-div">
            <label for="lastname">Nom de famille</label>
            <input type="text" id="lastname" name="lastname" placeholder="Nom de famille" />
                        </div>

            <input value="Enregistrer" class="btn" type="submit" name="submit" />
        </form>
        </div>
    </div>
}