@(user: User, volume: models.Volume)
@template(user) {
    <div>
        <h1>Volume</h1>
        <hr/>
        <h2 class="sub-title">@volume.getTitle</h2>

        <div class="edtc-section">
            <h3>Modifier le volume</h3>
            <form method="post" action="@routes.VolumeController.editPost(volume.getId)">
                <label for="volumeTitle">Changer le titre</label>
                <input id="volumeTitle" type="text" name="title"/>

                <button id="modify-book">Modifier</button>
            </form>
        </div>

        <div class="edtc-section">
            <h3>Chapitres du volume</h3>
            <a class="btn" id="new-chapter-btn" href="#new-chapter">Ajouter un chapitre</a>
            <ul class="list-chapitres">
            @volume.getChapters().map { chapter =>
                <li>
                    <a href="@routes.ChapterController.show(chapter.getId())">
                        @chapter.getTitle() : @chapter.getParagraphs().size() paragraphes
                    </a>
                </li>
            }
            </ul>
        </div>

        <div class="hidden">
            <form id="new-chapter" method="post" class="modal" action="@routes.ChapterController.newPost()">
                <h2 class="sub-title">Nouveau chapitre</h2>
                <input type="text" id="chapter-title" name="chapter-title" placeholder="Titre" />
                <input type="hidden" id="volume-id" name="volume-id" value="@volume.getId()" />
                <input class="btn" value="Créer" type="submit" name="submit" />
            </form>
        </div>

    </div>
}