@(user: User, chapter: models.Chapter)
@template(user) {
    <div>
        <form method="post" action="controllers.routes.ChapterController.newPost()">
            <input type="text" id="title" name="title" placeholder="Titre" value="@chapter.getTitle" />
            <!--<input id="book" name="book" placeholder="Nom du livre" value="@chapter." />-->
            <input value="Sauvegarder" type="submit" name="submit" />
        </form>
    </div>
}