@(user: User, chapters: List[models.Chapter])
@template(user) {
    <div>
        <ul>
            @for(chapter <- chapters) {
                <li>
                    <a href="controllers.routes.ChapterController.show(volume.getId)">
                    @chapter.getTitle;
                    </a>
                </li>
            }
        </ul>
    </div>
}