@(user: User)
@template(user) {
    <div>
        <form method="post" action="@routes.ChapterController.newPost()">
            <input type="text" id="title" name="title" placeholder="Titre" />
           <!-- <input id="book" name="book" placeholder="Nom du livre"/>-->
            <input value="Valider" type="submit" name="submit" />
        </form>
    </div>
}