@(user: User, chapter: models.Chapter)
@template(user) {
    <div>
        <h1>Chapitre</h1>
        <hr/>
        <h2 class="sub-title">@chapter.getTitle</h2>

        @if(user.isAdmin) {
            <div class="edtc-section">
                <h3>Modifier le chapitre</h3>
                <form method="post" action="@routes.ChapterController.editPost(chapter.getId)">
                    <label for="chapter-title">Changer le titre</label>
                    <input id="chapter-title" type="text" name="chapter-title"/>

                    <button id="modify-book">Modifier</button>
                </form>
            </div>
        }

        <div class="edtc-section">
            <h3>Paragraphes du chapitre</h3>
            @if(user.isAdmin) {
                <a class="btn add-btn" id="new-paragraph-btn" href="#new-paragraph">Ajouter un paragraphe</a>
            }
            <ul class="sub-list">
            @chapter.getParagraphs().map { paragraph =>
                <li>
                    <h4>
                    <a
                        @if(paragraph.getState.equals(ParagraphState.PENDING)) {
                            class="yellow-text"
                        }
                        @if(paragraph.getState.equals(ParagraphState.VALIDATED)) {
                            class="green-text"
                        }
                        @if(paragraph.getState.equals(ParagraphState.REJECTED)) {
                            class="red-text"
                        }
                    href="@routes.Paragraph.show(paragraph.getId())">
                        @paragraph.getTitle()
                    </a>
                    </h4>
                </li>
            }
            </ul>
        </div>

        <div class="hidden">
            <form id="new-paragraph" method="post" class="modal" action="@routes.Paragraph.newPost()">
                <h2 class="sub-title">Nouveau paragraphe</h2>
                <input type="text" id="paragraph-title" name="paragraph-title" placeholder="Titre" />
                <input type="hidden" id="chapter-id" name="chapter-id" value="@chapter.getId()" />
                <input class="btn" value="Créer" type="submit" name="submit" />
            </form>
        </div>

    </div>
}