
@red: #DF3D55;
@darkRed: #BC293F;

@blue: #6A7B91;
@darkBlue: #58687D;

@sideBlue: #2E4044;

@blueGray: #3E4049;
@darkBlueGray: #373941;
@darkerBlueGray: #2d2f37;

@gray: #B8B8B8;
@menuGray: #7E8293;
@darkGray: #888;
@softGray: #E0E0E0;
@softerGray: #EEE;

@whiteSmoke: #F4F5F7;

@progressYellow: #D8D649;
@highlightYellow: #FFFBCC;

@green: #8FBD69;
@pureBlue: #59AFD3;

.red {
  color: @red;
}

.gray {
  color: @gray;
}

.highlight {
  background-color: @highlightYellow;
}