ul.list-volumes {

  >li {
    margin-bottom: 2em;
    background-color: #ffffff;
    border-bottom: 10px solid @pureBlue;
  }

  h2 {
    padding: 0.1em 0.5em 0.1em 0.5em;
    background-color: @pureBlue;
    color: white;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
      background-color: darken(@pureBlue, 20%);
    }
  }

  ul.list-chapters {

    li {
      h3 {
        padding: 0.2em 1em 0.2em 1em;
        background-color: fade(@pureBlue, 20%);
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        &:hover {
          background-color: fade(@pureBlue, 60%);
        }
      }
      ul.list-paragraphs {
        h4 {
          padding: 0.2em 1.75em 0.2em 3em;
          font-weight: normal;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease;
          -webkit-transition: all .3s ease;
          transition: all .3s ease;

          &:hover {
            background-color: fade(@green, 25%);
          }
        }

        li {
          &.unavailable {
            opacity: 0.6;
            color: rgba(0, 0, 0, 0.4);
            background-color: @softGray;
          }
        }
      }
    }
  }

  span.to-right-small {
    float: right;
    font-size: large;
  }
}