img#edtc-logo {
  width: calc(@sideNavWidth - 40px) ;
  margin: 10px 20px 10px 20px ;
  height: auto;
}

div#side-nav {
  background-color: @sideBlue ;
  width: @sideNavWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  li {
    color: @gray;
    font-weight: bold;
    text-align: center;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;

    > a{
      padding: 20px 15px 20px 15px;
      display: block;
      text-decoration: none;
      color: @gray;
    }

    &:hover {
      background-color: @darkBlue ;
      transition: all .3s ease;
      cursor: pointer;
    }

    &.selected {
      background-color: @darkerBlueGray;
      cursor: default;

      &:hover {
        background-color: @darkerBlueGray ;
      }
    }

    h3 {
      margin-top: 2px;
    }
  }

  .big-icon {
    font-size: xx-large;
  }

  hr {

  }

  h2.sidebar-username {
    color: @gray;
    text-align: center;
    font-size: x-large;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
}