@radius: 2px;
@sideNavWidth: 200px;

html, textarea {
  font-weight: 400;
  font-size: 14px;
  color: @blueGray;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: @blueGray;
}

button, .btn {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 5px 10px 5px 10px;
  background-color: @blue;
  color: @whiteSmoke;
  border-style: none;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: @pureBlue;
    cursor: pointer;
  }
}
/*
 * CSS Animations
 * Don't forget to add vendor prefixes!
 */
.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


ul.sub-list {
  margin-top: 1em;
  h4 {
    margin-top: 2px;
    margin-bottom: 2px;
//    background-color: @blue;
//    color: @red;
  }
}

div#main-content {
  @sidePadding: 20px;
  position: relative;
  left: @sideNavWidth;
  padding-left: @sidePadding;
  padding-right: @sideNavWidth + @sidePadding;
  background-color: @softerGray;
  min-height: 100vh;
  height: 100%;

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px ;
  }

  h1 {
    font-size: 4em;
    font-family: 'Lato', Arial, sans-serif;
  }

  h2 {
    font-size: 2em;
    &.sub-title {
      margin-bottom: 0.3em;
    }
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }


  .add-btn {
    margin-top: 15px;
  }

  button {
    display: block;
  }

  input#save-paragraph-btn {
    width: 20%;
  }

  select {
    width: 20%;
  }

  a#paragraph-validate {
    float: right;
  }

  a#paragraph-reject {
    float: left;
  }

  div.edtc-section {
    margin-bottom: 2em;
    background-color: #ffffff;
    border-bottom: 10px solid @pureBlue;
    padding: 0.5em 1em 0.5em 1em;
    position: relative;

    label {
      width: 250px;
      display: inline-block;
      text-align: left;
    }
    input {
      display: inline-block;
    }
    input[type=text] {
      width: 500px;
    }

    input[type=password] {
      width: 500px;
    }

    div.input-div {
      margin-top: 7px;
      margin-bottom: 7px;
//      display: inline-block;
//      width: calc(~"100% - 198px");
    }
  }

  div.rectangle{
    display: inline-block;
    width: 1em;
    height: 1em;
    background: @gray;
  }

  .red {
    background: @red;
  }

  .yellow {
    background: @progressYellow;
  }

  .green {
    background: @green;
  }

  a#add-user-btn {
    float: right;
  }

  div.third {
    padding: 1em 0 1em;
    text-align: center;
  }

  div.center-section {
    border-left: 1px solid black:;
    border-right: 1px solid black:;
  }

  .red-text {
    color: @red;
  }

  .todo-text {
    color: @blue;
  }

  .yellow-text {
    color: @progressYellow;
  }

  .green-text {
    color: @green;
  }

  .to-right-small {
    float: right;
  }
}


div#login-page {
  height: 100vh;
  background: #487EC2;
//  background-image: -o-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
//  background-image: -moz-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
//  background-image: -ms-linear-gradient(-134deg, #514A9D 0%, #24C6DC 100%);
  background-image: linear-gradient(-44deg, #514A9D 0%, #24C6DC 100%);
  overflow: hidden;

  div.frame {
    width: 500px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: @blueGray;
    padding: 1em 1em 1em 1em;

    img {
      max-width: 250px;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    button {
      background-color: @blue;
    }
  }
}
