@(user: User, paragraph: models.Paragraph)
@template(user) {
    <div>
        <form method="post" action="@routes.Paragraph.newPost()">
            <input type="text" id="title" name="title" placeholder="Titre" value="@paragraph.getTitle" />
            <textarea id="content" name="content">@paragraph.getContent</textarea>
            <input value="Sauvegarder" type="submit" name="submit" />
        </form>
    </div>
}