@(user: User, paragraphs: List[models.Paragraph])
@template(user) {
    <div>
        <ul>
            @for(paragraph <- paragraphs) {
                <li>
                    <a href="@routes.Paragraph.show(paragraph.getId)">
                    @paragraph.getTitle
                    </a>
                </li>
            }
        </ul>
    </div>
}