@(user: User)
@template(user) {
    <div>
        <form method="post" action="@routes.Paragraph.newPost()">
            <input type="text" id="title" name="title" placeholder="Titre" />
            <textarea id="content" name="content"></textarea>
            <input value="Valider" type="submit" name="submit" />
        </form>
    </div>
}