@(user: User, paragraph: models.Paragraph, users: List[models.User])
@template(user) {
    <div>
        <h1>Paragraphe</h1>
        <hr/>

        <h2 class="sub-title">
        @paragraph.getTitle
            <span class="to-right-small
                @if(paragraph.getState.equals(ParagraphState.PENDING)) { yellow-text}
                @if(paragraph.getState.equals(ParagraphState.REJECTED)) { red-text }
                @if(paragraph.getState.equals(ParagraphState.VALIDATED)) { green-text }
            ">
                @if(paragraph.getState.equals(ParagraphState.INITIAL)) { }
                @if(paragraph.getState.equals(ParagraphState.PENDING)) { En attente de validation }
                @if(paragraph.getState.equals(ParagraphState.REJECTED)) { Rejeté }
                @if(paragraph.getState.equals(ParagraphState.VALIDATED)) { Validé }
            </span>
        </h2>

        @if(user.isAdmin) {
            <div class="edtc-section">
                <h3>Modifier le paragraphe</h3>
                <form method="post" action="@routes.Paragraph.editAdmin(paragraph.getId)">
                    <div class="input-div">
                    <label for="paragraphTitle">Changer le titre</label>
                    <input id="paragraphTitle" type="text" name="title" value="@paragraph.getTitle"/>
                    </div>

                    <div class="input-div">
                    <label for="paragraphWriters">Assigner des ingénieurs</label>
                    <select multiple="true" id="paragraphWriters" name="responsibles">
                    @users.map { usr =>
                        <option
                            @if(paragraph.getAssignees.contains(usr)) {
                                selected="true"
                            }
                        value="@usr.getId()"
                        >@usr.getFirstName @usr.getLastName</option>
                    }
                    </select>
                    </div>

                    <button id="modify-book">Modifier</button>
                </form>
            </div>
        }

        <div class="edtc-section">
            @if(!user.isAdmin &&
                 (paragraph.getState.equals(ParagraphState.VALIDATED)  ||
                  paragraph.getState.equals(ParagraphState.PENDING))
            ) {
                <p>@paragraph.getContent</p>
            } else {
                <form method="post" action="@routes.Paragraph.editPost(paragraph.getId)">
                    @if(user.isAdmin && paragraph.getState.equals(ParagraphState.PENDING)) {
                        <a class="btn red" id="paragraph-reject"
                        href="@routes.Paragraph.reject(paragraph.getId)">
                            Refuser
                        </a>

                        <a class="btn green" id="paragraph-validate" href="@routes.Paragraph.validate(paragraph.getId)">
                            Valider</a>
                    }
                    <textarea rows="20" name="paragraph-content">@paragraph.getContent()</textarea>
                    <input class="btn" id="save-paragraph-btn" value="Sauvegarder le contenu" type="submit"/>
                </form>
            }
        </div>

    </div>
}