@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r4cpn1');
	src:url('fonts/icomoon.eot?#iefix-r4cpn1') format('embedded-opentype'),
		url('fonts/icomoon.woff?-r4cpn1') format('woff'),
		url('fonts/icomoon.ttf?-r4cpn1') format('truetype'),
		url('fonts/icomoon.svg?-r4cpn1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\e91f";
}

.icon-compass2:before {
	content: "\e94a";
}

.icon-users:before {
	content: "\e972";
}

.icon-list:before {
	content: "\e9ba";
}

