@(user: User, volume: models.Volume)
@template(user) {
    <div>
        <form method="post" action="@routes.VolumeController.newPost()">
            <input type="text" id="title" name="title" placeholder="Titre" value="@volume.getTitle" />
            <input value="Sauvegarder" type="submit" name="submit" />
        </form>
    </div>
}