@(user: User, volumes: List[models.Volume])
@template(user) {
    <div>
        <ul>
            @for(volume <- volumes) {
                <li>
                    <a href="controllers.routes.VolumeController.show(volume.getId)">
                    @volume.getTitle
                    </a>
                </li>
            }
        </ul>
    </div>
}