@(user: User, module: Module)
@template(user, Some(module)) {
    <div id="new-volume">
        <form method="post" action="@routes.VolumeController.newPost()">
            <input type="text" id="title" name="title" placeholder="Titre" />
            <input value="Enregistrer" type="submit" name="submit" />
        </form>
    </div>
}