@(user: User, volume: models.Volume)
@template(user) {
    <div>
        <h1>Volume</h1>
        <hr/>
        <h2 class="sub-title">@volume.getTitle</h2>

        @if(user.isAdmin()) {
            <div class="edtc-section">
                <h3>Modifier le volume</h3>
                <form method="post" action="@routes.VolumeController.editPost(volume.getId)">
                    <label for="volumeTitle">Changer le titre</label>
                    <input id="volumeTitle" type="text" name="title" value="@volume.getTitle"/>
                    <button id="modify-book">Modifier</button>
                </form>
            </div>
        }

        <div class="edtc-section">
            <h3>Chapitres du volume</h3>
            @if(user.isAdmin()) {
                <a class="btn add-btn" id="new-chapter-btn" href="#new-chapter">Ajouter un chapitre</a>
            }
            <ul class="sub-list">
            @volume.getChapters().map { chapter =>
                <li>
                    <a href="@routes.ChapterController.show(chapter.getId())">
                        <h4>
                        @chapter.getTitle() (@chapter.getParagraphs().size()
                            @if(chapter.getParagraphs.size() == 1) {
                                paragraphe)
                            } else {
                                paragraphes)
                            }
                        </h4>
                    </a>
                </li>
            }
            </ul>
        </div>

        <div class="hidden">
            <form id="new-chapter" method="post" class="modal" action="@routes.ChapterController.newPost()">
                <h2 class="sub-title">Nouveau chapitre</h2>
                <input type="text" id="chapter-title" name="chapter-title" placeholder="Titre" />
                <input type="hidden" id="volume-id" name="volume-id" value="@volume.getId()" />
                <input class="btn" value="Créer" type="submit" name="submit" />
            </form>
        </div>

    </div>
}